.top {
margin-top:50px;
height: 1000px;


}   
 .card {
//padding:20px 20px;
width:100%;
height:auto;
size:40%;
overflow:hidden;
margin-left:20px 20px 20px 20px;
 }	 
.card-text {
	line-height:1;
	
}
