<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
<script type="text/javascript" src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">

</head>
<body>
    {% include "nav.html" %}

<div class=" w3-display-container w3-animate-opacity w3-text-black" style="background-image:url('{{url_for('static',filename='pic/come.jpg')}}'); min-height: 100%; background-position: center; background-size: cover;">
    

  
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top" style="background-color: #ffffff73;padding: 20px;">COMING SOON</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">30 days left</p>
	<p class="w3-large w3-center">something special is coming for the students </p>
  </div>
  
</div>

</body>
</html>
