<!DOCTYPE html>
<html>
<head>
   
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
	<script type="text/javascript" src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
	
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">

</head>
<body  bgcolor="#f1f1f1!important;" style="font-family:Verdana, sans-serif !important;">
    
<div class="wrapper">
    {% include "nav.html" %}

        
     <!--container   -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
           <div class="card">
            <div class="card top">
               <img class="card-img-top" src="{{url_for('static',filename='pic/architect.jpg')}}" alt="Card image" style="width:100%; height: 40%;">
               <div class="avatar mx-auto white">
               <img src="{{url_for('static',filename='pic/pro.png')}}" class="rounded-circle"  alt="Sample avatar image.">
               </div>
			</div>
  
             <div class="card-body"  style="width:100%; height: 60%;" >

                 <h4 class="card-title focus text-center">MAJU USER</h4>
                 <p class="card-text"style="text-align:center;" >Post your confessions,your info will be hidden.</p>

                 <button  class="btn  btn-group center-block" style="background-color:#666699; color:white"> See Profile</button>
             </div>
           </div>
          </div>
            <!--    col-sm-6-->
			
			
     <div class="col-sm-6">
        
           <div class="card">
              <form action="/image" method="POST" enctype="multipart/form-data">
               <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="li1 nav-item ">
                  <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Upload Image </a>
                  </li>
                  </ul>
                       		
               </div>
                      <!--///* 	card body*/-->
                      
                <div class="card-body">
                   
                  <input type="file" class="form-control" name="picture" />
                       		
                </div>
                 <!--      	button-->
                 <div class="btn-toolbar ">
                     <div class="btn-group">
                       
                           <button type="submit" class="btn btn-primary " name="upload_image" style="background-color:#666699;">Upload Image</button>
                          
                          </div>

                  
                  </div>
                </form>   		
           </div>
          

   <!--  card 2 for post-->

          <form action="/post" method="POST" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                <li class="li1 nav-item">
                <a class="nav-link active"  data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">New Post</a>
                </li>
                
                              
                </ul>
                            
                </div>
                       <!--///* 	card body*/-->
                       
                 <div class="card-body">
                    
                   <textarea class="form-control" id="message" placeholder="What are you thinking?" name="feed"></textarea>
                            
                 </div>
                  <!--      	button-->
                  <div class="btn-toolbar ">
                      <div class="btn-group">
                        
                            <button type="submit" class="btn btn-primary" name="share_post" style="background-color:#666699;">Share</button>
                           
                           </div>
 
                   
                   </div>
                            
            </div>
           </form> 
         
                                 <!--  card 2 for image-->
       
          <div class="card">
              <div class="card-header">
              <a  href="#">MUHAMMAD ALI JINNAH UNIVERSITY</a>	
              </div>
                              <!--///* 	card body*/-->
              <div class="card-body">
                  <img class="post-img" src="{{l}}" alt="" height="400px" width="100%">
         
              
                          
              </div>
                        <!--      	button-->
              <div class="status-bar">
            <ul   class="like-com ul1">
            <li>
              <a href="#"><i class="la la-heart "></i><img class="img-like" src="{{url_for('static',filename='pic/heart.png')}}" alt=""> Like</a>
              <span>25</span>
            </li> 
            <li><a href="#" title="" class="com "><img class="img-like" src="{{url_for('static',filename='pic/commit.png')}}" alt=""> Comment</a></li>
            </ul>
                                
              </div>
                    
                    
            <!--        Comment Box code Start-->
                <div class="box-footer box-comments" style="display: block;">
                    <div class="box-comment">
                    <img class="img-circle img-sm" src="{{url_for('static',filename='pic/3.jpg')}}" alt="User Image">
                    <div class="comment-text">
                    <span class="username">
                      Taha
                    <span class="text-muted pull-right">8:03 PM Today</span>
                    </span>

                      Beautiful

                      Nice Post

                    </div>
                    </div>
                    
                
              {% for j in new_comment_post1 %}
                    <div class="box-comment">
                    <img class="img-circle img-sm" src="{{url_for('static',filename='pic/1.jpg')}}" alt="User Image">
                    <div class="comment-text">
                    <span class="username">
                    Daniyal Raza
                    <span class="text-muted pull-right">8:03 PM Today</span>
                    </span>

                  {{j}}

                    wow what a great flask app

                    </div>
                    </div>
              {% endfor %}
              </div>
              <div class="box-footer" style="display: block;">
                <form action="/comment" method="POST">
                 <img class="img-responsive img-circle img-sm" src="{{url_for('static',filename='pic/1.jpg')}}" alt="Alt Text">
                  <div class="img-push">
                      <input type="text" class="form-control input-sm" placeholder="Press enter to post comment" name="comment">
                  </div>
                
                </form>    
              </div>  
                  
                  
                  
         
<!--         Comment BOx Coding ENd-->
 </div><!-- cARD END-->
                                 <!--  card 2-->
   {% for i in post %}
      <div class="card">
        <div class="card-header">
        <a  href="#">MUHAMMAD ALI JINNAH UNIVERSITY</a>	
        </div>
                        <!--///* 	card body*/-->
        <div class="card-body">
        
          {{i}}

        
                    
        </div>
                  <!--      	button-->
        <div class="status-bar">
      <ul   class="like-com ul1">
      <li>
        <a href="#"><i class="la la-heart"></i><img class="img-like" src="{{url_for('static',filename='pic/heart.png')}}" alt=""> Like</a>
        <span>25</span>
      </li> 
      <li><a href="#" title="" class="com"><img class="img-like" src="{{url_for('static',filename='pic/commit.png')}}" alt=""> Comment</a></li>
      </ul>
                          
        </div>
              
              
      <!--        Comment Box code Start-->
          <div class="box-footer box-comments" style="display: block;">
              <div class="box-comment">
              <img class="img-circle img-sm" src="{{url_for('static',filename='pic/3.jpg')}}" alt="User Image">
              <div class="comment-text">
              <span class="username">
                Taha
              <span class="text-muted pull-right">8:03 PM Today</span>
              </span>
                NICE
              </div>
              </div>
              
        {% for j in new_comment_post1 %}
              <div class="box-comment">
              <img class="img-circle img-sm" src="{{url_for('static',filename='pic/1.jpg')}}" alt="User Image">
              <div class="comment-text">
              <span class="username">
              Daniyal Raza
              <span class="text-muted pull-right">8:03 PM Today</span>
              </span>
            {{j}}
              </div>
              </div>
        {% endfor %}
        </div>
                      
        <div class="box-footer" style="display: block;">
              <form action="/comment" method="POST">
                  <img class="img-responsive img-circle img-sm" src="{{url_for('static',filename='pic/1.jpg')}}" alt="Alt Text">
                  <div class="img-push">
                      <input type="text" class="form-control input-sm" placeholder="Press enter to post comment" name="comment">
                  </div>
                </form>
              
        </div>
                
            <!--         Comment BOx Coding ENd-->
    </div><!-- cARD END-->

   {% endfor%} 
  
		</div><!--COL M6 END-->
<!-- Right Column -->

   <div class="w3-col m3" style="margin-top:11px"> 
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
		<span class="text-muted"></span>
          <h4>Upcoming Events:</h4>
          <img src="{{url_for('static',filename='pic/tod.png')}}" alt="Forest" style="width:100%;">
          <p><strong>Holiday</strong></p>
          <p>Friday 15:00</p>
          <p><button class="w3-button w3-block " style="background-color:#666699; color:white; ">Read More</button></p>
        </div>
      </div>
      <br> 
	 
</div>

   <div class="w3-col m3" style="margin-top:11px"> 
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
		<span class="text-muted">Sponsor</span>
          <h4>Best institutes around you!:</h4>
          <img src="{{url_for('static',filename='pic/401.jpg')}}" alt="Forest" style="width:100%;">
          <p><strong>The Edducators</strong></p>
          <p> From Friday 15:00 to Sunday</p>
          <p><button class="w3-button w3-block " style="background-color:#666699; color:white; ">Load more </button></p>
        </div>
      </div>
      <br> 
	 
</div>



	</div>  <!--Row End -->
	
	</div><!--  container End -- >
<!--  </div> -- >


  <!-- Footer start from here -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4" style="background-color:#666699; color:white;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left" style="background-color:#666699;">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h4 class="font-weight-bold text-uppercase mb-4">Footer Content</h4>
        <p>Here you can use rows and columns to organize your footer content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
          esse
          quasi, veritatis totam voluptas nostrum.</p>

      </div>
      <!-- Grid column -->

     

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1" >

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!" style="color:white;">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!" style="color:white;">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!" style="color:white;">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!"  style="color:white;">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

     

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> MAJU, Karachi, near Shahrae faisal.</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> mohammadalijinnah@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> + 92 234 567 88</p>
			</li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i> + 92 234 567 89</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

     
      <!-- Grid column -->
      <div class="col-md-2 col-lg-3 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        <a  href="https://www.facebook.com/" class="btn-floating btn-fb"  target="_blank" >
          <i class="fab fa-facebook-square" style="font-size:48px;color: #0047ff"></i>
        </a>
        <!-- Twitter -->
        <a  href="https://www.twitter.com/" class="btn-floating" target="_blank">
          <i class="fab fa-twitter" style="font-size:48px;color: #0891f0;"></i>
        </a>
        <!-- Google +-->
        <a  href="https://www.google.com/" class="btn-floating btn-gplus"  target="_blank">
          <i class="fab fa-google-plus-g" style="font-size:48px;color:darkorange;"></i>
        </a>
        <!-- Dribbble -->
        <a href="https://www.instagram.com/" class="btn-floating btn-dribbble"  target="_blank">
          <i class="fab fa-instagram" style="font-size:44px;color: #ff128a;"></i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" style="color:white;"> MAJU.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer end here -->`
</div>








</body>
</html>