<html>
<head>

        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
        <script type="text/javascript" src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>

<title></title>
</head>
<body bgcolor="#EFE7C0">
        
                <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#337ab7;">
                <div class="container-fluid">
                  <div class="navbar-header">
                     <a class="navbar-brand " href="#">MDR</a>
                  </div>
                    <ul class="nav navbar-nav">
                      <li><a href="#">Home</a></li>
                      <li><a  href="#">Profile</a></li>
                      <li ><a href="#">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    <li class="pi afb">
                                
                    <img class="us"  src="{{url_for('static',filename='pic/1.jpg')}}" style="width:40px; border-radius: 50%;" >
                             
                    </li>
                      
                    </ul>
                </div>
                </nav>
</body>
</html>